@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: rgba(201, 164, 178, 0.6);
}

.container{
    max-width: 1370px;
}

.main-page-header{
    background-color: rgba(40, 28, 68, 0.9);
    padding: 10px 0px;
}

.t-3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.t-2{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.t-1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: white;
}

.navigation{
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

.transact-edit{
    background-color: #8d7397;
    height: 50px;
}

.transact-edit:hover{
    background-color: #e8af9c;
}

.accordion-button:not(.collapsed){
    background-color: rgba(141, 115, 151, 0.95);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.accordion-button:not(.collapsed)::after{
    filter: brightness(100);
}

.accordion-button:focus{
    box-shadow: none !important;
}

.accordion{
    margin: 10px auto;
}

.sm-img{
    width: 168px;
    height: 70px;
    background-image: url("../image/9121424.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.offcanvas{
    background-image: url("../image/pxfuel2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.refill-card{
     display: none;
 }

.transfer-card{
    display: none;
}

.card-title{
    display: flex;
    font-weight: 600;
}

.error-message {
    display: none;
    color: #fff;
    background-color: #ff4444;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-card-error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.alert-danger {
    margin: auto;
    width: 25%;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    background-color: #ff4444;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
}

.border-danger {
    border: 1px solid #ff4444;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

.close:hover {
    color: #ccc;
}

.card-info{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    border-bottom: 1px solid rgba(146, 121, 156, 0.2);
    border-radius: 5px;
}

